/* Reset Box-Sizing */
:root {
    box-sizing: border-box;
}

/* Main Body */
/* html {} */

body {
    font-family: Arial, Helvetica, sans-serif;
    background: ghostwhite;
    margin: 0;
}

.pageWrapper {
    width: 850px;
    margin: 0 auto;
}

/* Links */
a:link {}

a:visited {}

a:hover {}

a:active {}

/* Header */
header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    background: #3b5998;
    color: white;
    height: 33.33vh;
    padding: 15px;
}

figure {
    position: relative;
    top: 50px;
    background: #3b5998;
    margin: 0;
}

.headerImage {
    text-align: center;
    width: 175px;
    height: 175px;
    border: 1px solid black;
}

.headerTitle {
    font-size: 25px;
    font-weight: bold;
    margin: 5px auto;
}

.headerSubTitle {
    font-size: 18px;
    font-weight: 100;
    margin: 0 auto;

}

.headerImage {}

.headerButtons {
    display: inline;
    text-align: right;
}

.headerButtons {
    flex-basis: 50%;
}

/* Navigation */
nav {
    position: relative;
    left: 20%;
    margin: 0;
}

.headerNavigation li {
    display: inline-block;
    list-style-type: none;
    padding-bottom: 5px;
    margin-right: 50px;
}

.headerNavigation li:first-child {
    border-bottom: 3px solid #3b5998;
}

/* Buttons */
.headerButtons {
    font-size: 0;
    margin: 0;
    padding: 0;
}

.btn {
    font-weight: bold;
    padding: 5px;
    margin: 0;
    border-radius: 5%;
}

.btnLike {
    margin-right: 10px;
}

.btnFollow {}

.btnMessage {}

.btnMore {}