/* Reset Box Styles */
:root {
    box-sizing: border-box;
}

/* Main Body Styles */
/* html {} */

body {
    margin: 0;
    background: ghostwhite;
}

.pageWrapper {
    width: 850px;
    margin: 0 auto;
}

/* Font Styles */
/* h1,
h2,
h3,
h4,
h5 {}

p {} */

/* Link Styles */
/* a:link {}

a:visited {}

a:hover {}

a:active {} */

/* Icon Styles */

/* Header Styles */
header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    background: #3b5998;
    color: white;
    padding: 15px;
}

figure {
    margin: 0;
}

.headerImage {
    text-align: center;
    width: 175px;
    height: 175px;
    border: 1px solid black;
}

.headerTitle {}

.headerSubTitle {}

.headerImage {}

.headerButtons {
    display: inline;
    text-align: right;
}

.headerButtons {
    flex-basis: 50%;
}

.headerNavigation {}

/* Button Styles */
/* .btn {}

.btn .btnLike {}

.btn .btnFollow {}

.btn .btnMessage {}

.btn .btnMore {} */